<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dynamic Flask Form with Checkboxes</title>
    </head>
    <body>
        <h1>Dynamic Flask Form with Checkboxes</h1>
        <form method="POST">
            <!-- {{ form.csrf_token }} -->
            <div class="container">
            <div class="row">
            <h4>checkbox</h4>
              <select class="js-select2" multiple="multiple">
                <div>{% for field in form %}
                    <div>
                        {{ field.label }}
                        {{ field() }}
                    </div>
                {% endfor %}
                </div>
              </select>
            </div>
          </div>
            <br>
            <div>
                {{ form.submit_button(class="btn btn-primary") }}
            </div>
        </form>
    </body>
</html>
